# Using internal_utils functions from the `jmspack` package

## Showing the usage of the following internal_utils functions

- postgresql_data_extraction()
- postgresql_table_names_list()
- create_postgresql_table_based_on_df()
- add_data_to_postgresql_table()
- delete_postgresql_table()

In [1]:
import os
tmp = os.getcwd()
os.chdir(tmp.split("jmspack")[0] + "jmspack")

In [2]:
import psycopg2
import pandas as pd
from dotenv import load_dotenv
from jmspack.internal_utils import (postgresql_data_extraction,
                                    postgresql_table_names_list,
                                   create_postgresql_table_based_on_df,
                                    add_data_to_postgresql_table,
                                   delete_postgresql_table)

In [3]:
load_dotenv(".env")

True

## Extract table names from an external postgresql database

In [4]:
table_list = postgresql_table_names_list(database_name = 'tracker',
                                         user='tracker',)
table_list

[('django_session',),
 ('iris_test',),
 ('suggested_energy_intake',),
 ('sleep_data',),
 ('django_migrations',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('auth_user',),
 ('django_admin_log',)]

## Create an external postgresql table based on a pandas dataframe

In [5]:
import seaborn as sns
iris_df = sns.load_dataset("iris")

In [6]:
create_postgresql_table_based_on_df(df=iris_df,
                         database_name="tracker",
                             user="tracker",
                            table_name="iris_test",
                            )

relation "iris_test" already exists

'CREATE TABLE iris_test (\n                sepal_length float,\nsepal_width float,\npetal_length float,\npetal_width float,\nspecies text\n    )'

## Add data from a pandas dataframe to an external postgresql table

In [10]:
add_data_to_postgresql_table(df=iris_df,
                         database_name="tracker",
                             user="tracker",
                            table_name="iris_test",
                            )

'INSERT INTO iris_test (sepal_length, sepal_width, petal_length, petal_width, species) VALUES (%s, %s, %s, %s, %s)'

## Read in data from an external postgresql database

In [6]:
df = postgresql_data_extraction(table_name = 'sleep_data',
                                database_name = 'tracker',
                                user='tracker',)

In [7]:
df

Empty DataFrame
Columns: [sleep_log_entry_id, timestamp, overall_score, composition_score, revitalization_score, duration_score, deep_sleep_in_minutes, resting_heart_rate, restlessness]
Index: []

In [11]:
# df = postgresql_data_extraction(table_name = 'suggested_energy_intake',
#                                 database_name = 'tracker',
#                                 user='tracker',)

df = postgresql_data_extraction(table_name = 'iris_test',
                                database_name = 'tracker',
                                user='tracker',)

In [12]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Delete an external postgresql database

#### Printing table names before and after to check removal occurs

In [10]:
postgresql_table_names_list(database_name = 'tracker',
                                         user='tracker',)

[('django_session',),
 ('iris_test',),
 ('suggested_energy_intake',),
 ('django_migrations',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('auth_user',),
 ('django_admin_log',)]

In [11]:
delete_postgresql_table(database_name="tracker",
                             user="tracker",
                            table_name="iris_test",)

'iris_test has been deleted from tracker'

In [12]:
postgresql_table_names_list(database_name = 'tracker',
                                         user='tracker',)

[('django_session',),
 ('suggested_energy_intake',),
 ('django_migrations',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('auth_user',),
 ('django_admin_log',)]