# Using internal_utils functions from the `jmspack` package

## Showing the usage of the following internal_utils functions

- postgresql_data_extraction()
- postgresql_table_names_list()

In [ ]:
import os
tmp = os.getcwd()
os.chdir(tmp.split("jmspack")[0] + "jmspack")

In [2]:
import psycopg2
import pandas as pd
from dotenv import load_dotenv
from jmspack.internal_utils import (postgresql_data_extraction,
                                    postgresql_table_names_list)

In [3]:
load_dotenv(".env")

True

## Extract table names from an external postgresql database

In [4]:
table_list = postgresql_table_names_list(database_name = 'tracker',
                                         user='tracker',)
table_list

[('django_session',),
 ('suggested_energy_intake',),
 ('django_migrations',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('auth_user',),
 ('django_admin_log',)]

## Read in data from an external postgresql database

In [5]:
df = postgresql_data_extraction(table_name = 'suggested_energy_intake',
                                database_name = 'tracker',
                                user='tracker',)

In [6]:
df.head()

        nutrient  daily_requirements units
0        Calorie              1500.0  kcal
1      Total fat                70.0     g
2  Saturated fat                20.0     g
3   Carbohydrate               260.0     g
4   Total sugars                90.0     g